
@font-face {
    font-family: font-awesome;
    src: url('fonts/fa-solid-900.woff') format('woff');
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #0d261a;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

#sidebar-left {
    left: 0;
}

#sidebar-right {
    right: 0;
}

.sidebar span {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #66cc99;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    margin-right: -7337px;
    font-family: sans-serif;
}

.sidebar span:hover {
    color: #c6ecd9;
}

.sidebar .close {
    position: absolute;
    top: -10px;
    font-size: 36px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#sidebar-left .close {
    right: 0;
}

#sidebar-right .close {
    left: 0;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.button {
    background-color: #c6ecd9;
    color: #206040;
    border-radius: 50%;
    font-family: font-awesome;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.button.left {
    float: left;
}

.button.right {
    float: right;
}

.button:hover {
    box-shadow: 0 0 10px black;
}

body {
    background-color: #26734d;
}

iframe {
    border: 0;
    overflow: hidden;
    height: 500px;
    width: 200px;
    margin-right: -7337px;
}